<!-- file: voter_detail.html -->
<!-- name: Shanika Paul -->
<!-- email: shanikap@bu.edu -->
<!-- date: October 31, 2025 -->
<!-- description: Template to display detailed information for a single voter including Google Maps link. -->


{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Voter Details: {{ voter.first_name }} {{ voter.last_name }}</h1>
    
    <table>
        <tr>
            <th>First Name</th>
            <td>{{ voter.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ voter.last_name }}</td>
        </tr>
        <tr>
            <th>Street Address</th>
            <td>
                {{ voter.street_number }} {{ voter.street_name }}
                {% if voter.apartment_number %}
                    Apt {{ voter.apartment_number }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td>{{ voter.zip_code }}</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>{{ voter.date_of_birth }}</td>
        </tr>
        <tr>
            <th>Date of Registration</th>
            <td>{{ voter.date_of_registration }}</td>
        </tr>
        <tr>
            <th>Party Affiliation</th>
            <td>{{ voter.party_affiliation }}</td>
        </tr>
        <tr>
            <th>Precinct Number</th>
            <td>{{ voter.precinct_number }}</td>
        </tr>
        <tr>
            <th>Voter Score</th>
            <td>{{ voter.voter_score }}</td>
        </tr>
    </table>
    
    <h2>Election Participation</h2>
    <table>
        <tr>
            <th>2020 State</th>
            <td>{{ voter.v20state }}</td>
        </tr>
        <tr>
            <th>2021 Town</th>
            <td>{{ voter.v21town }}</td>
        </tr>
        <tr>
            <th>2021 Primary</th>
            <td>{{ voter.v21primary }}</td>
        </tr>
        <tr>
            <th>2022 General</th>
            <td>{{ voter.v22general }}</td>
        </tr>
        <tr>
            <th>2023 Town</th>
            <td>{{ voter.v23town }}</td>
        </tr>
    </table>

    <h2>Location</h2>
<p>
    <a href="https://www.google.com/maps/place/{{ voter.street_number }}+{{ voter.street_name }}+Newton+MA+{{ voter.zip_code }}" target="_blank">
        View Address on Google Maps
    </a>
</p>

<p><a href="{% url 'voters' %}">Back to Voter List</a></p>
    
    <p><a href="{% url 'voters' %}">Back to Voter List</a></p>
</div>
{% endblock %}