{% extends 'quotes/base.html' %}

{% block content %}
<div style="margin-top: 60px;">
    <h1>About Walt Disney</h1>
    
    <div style="max-width: 800px; margin: 20px auto;">
        <h2>Biography</h2>
        <p>
            Walt Disney (1901–1966) was an American animator, film producer, and entrepreneur.
            He is best known for creating some of the most iconic characters in entertainment history, including Mickey Mouse, and for founding Disneyland and Walt Disney World. His innovations in animation and theme parks transformed popular culture worldwide.
        </p>
        
        <p>
            Throughout his career, Disney worked as a voice actor, producer, and visionary studio head,
pioneering synchronized sound and Technicolor in animated films. He was instrumental in
shaping the modern entertainment industry and built one of the world’s largest media empires.
        </p>
        
        <p>
            Disney received 22 Academy Awards and 59 nominations, more than any other individual in history.
In 1964, he was awarded the Presidential Medal of Freedom by President Lyndon B. Johnson.
        </p>
        
        <h2>About This Application</h2>
        <p>
            This Quote of the Day application was created by I, <strong>Shanika Paul</strong> for CS412 A1 with Professor Aaron Stevens.The assingment was to create a web application that displays 
            inspirational quotes from Walt Disney.
        </p>
        
        <p>
            <em>Created in September 2025</em>
        </p>
    </div>
</div>
{% endblock %}